<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Sarah Olson - WPI Badminton Club Tracker</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../assets/img/favicon.png" rel="icon">
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../assets/css/badminton-tracker.css" rel="stylesheet">
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex justify-content-center align-items-center header-scrolled">
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="../index.html">Back to Portfolio</a></li>
                <li><a class="nav-link scrollto active" href="#about">About</a></li>
                <li><a class="nav-link scrollto active" href="#pictures">Images</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </header><!-- End Header -->

    <!-- ======= About Project Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="section-title">
                <h2>WPI Badminton Club Tracker</h2>
                <h3>Tools Used</h3>
                <div class="tools">
                    <div class="row justify-content-center">
                        <div id="html" class="tool-box">
                            <div class="icon"><img src="../assets/img/icons/html.png"></div>
                            <p>HTML</p>
                        </div>
                        <div id="mongo" class="tool-box">
                            <div class="icon"><img src="../assets/img/icons/mongodb.png"></div>
                            <p>MongoDB</p>
                        </div>
                        <div id="javascript" class="tool-box">
                            <div class="icon"><img src="../assets/img/icons/javascript.png"></div>
                            <p>JavaScript</p>
                        </div>
                        <div id="nodejs" class="tool-box">
                            <div class="icon"><img src="../assets/img/icons/nodejs.png"></div>
                            <p>Node.js</p>
                        </div>
                        <div id="css" class="tool-box">
                            <div class="icon"><img src="../assets/img/icons/css.png"></div>
                            <p>CSS</p>
                        </div>
                    </div>
                </div>
                <br>
                <p>Easily track progress toward you grade goal in Badminton Club</p>
            </div>

            <h4>MOTIVATION</h4>
            <p>Students at WPI can register for Badminton Club for gym credit, though the grade for the "course" is
                determined by the amount of playtime hours you attend throughout the semester with the following
                convention:</p>
            <ul>
                <li>A: 28 Hours</li>
                <li>B: 24 Hours</li>
                <li>C: 21 Hours</li>
                <li>NR (No Record): Under 21 Hours</li>
            </ul>
            <p>Being a busy student, I often lost track of how many hours I had left to reach a certain grade milestone.
                After feeling guilty for contantly asking the club executives how many hours I have left at every play
                time, I decided to make this tool!</p>
            <p>I also had the opportunity to expirience using other tools for this same concept, like Svelte, during CS 4241 (Webware)</p>

            <br>
            <h5>GitHub Repositories:</h5>
            <p><a href="https://github.com/sarahaolson/a3-sarah-olson">Original project with HTML/CS</a></p>
            <p><a href="https://github.com/sarahaolson/a4-sarah-olson">Experimental version using Svelte</a></p>
        </div>
    </section><!-- End About Project Section -->

    <!-- ======= Pictures of Project ======= -->
    <section id="pictures">
        <div class="container">
            <div class="section-title">
                <div class="project-img-540">
                    <img src="../assets/img/badminton/overview.png">
                    <p>Forest Caption</p>
                </div>
                <div class="project-img-540">
                    <img src="../assets/img/badminton/progress1.png">
                    <p>Forest Caption</p>
                </div>
                <div class="project-img-540">
                    <img src="../assets/img/badminton/progress2.png">
                    <p>Forest Caption</p>
                </div>
            </div>
        </div>
    </section>

    <!-- End Pictures of Project Section -->


</body>

</html>