<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Sarah Olson - ForFundzies</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../assets/img/favicon.png" rel="icon">
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../assets/css/forfundzies.css" rel="stylesheet">
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex justify-content-center align-items-center header-scrolled">
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="../index.html">Back to Portfolio</a></li>
                <li><a class="nav-link scrollto active" href="#about">About</a></li>
                <li><a class="nav-link scrollto active" href="#tutorial">Features</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </header><!-- End Header -->

    <!-- ======= About Project Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="section-title">
                <h2>ForFundzies</h2>
                <h3>Tools Used</h3>
                <div class="tools">
                    <div class="row justify-content-center">
                        <div id="aws" class="tool-box">
                            <div class="icon"><img src="../assets/img/icons/aws.png"></div>
                            <p>AWS</p>
                        </div>
                        <div id="s3" class="tool-box">
                            <div class="icon"><img src="../assets/img/icons/aws-s3.png"></div>
                            <p>S3</p>
                        </div>
                        <div id="rds" class="tool-box">
                            <div class="icon"><img src="../assets/img/icons/aws-rds.png"></div>
                            <p>RDS</p>
                        </div>
                        <div id="my-sql" class="tool-box">
                            <div class="icon"><img src="../assets/img/icons/my-sql.png"></div>
                            <p>MySQL</p>
                        </div>
                        <div id="javascript" class="tool-box">
                            <div class="icon"><img src="../assets/img/icons/javascript.png"></div>
                            <p>JavaScript</p>
                        </div>
                        <div id="react" class="tool-box">
                            <div class="icon"><img src="../assets/img/icons/react.png"></div>
                            <p>React.js</p>
                        </div>
                        <div id="html" class="tool-box">
                            <div class="icon"><img src="../assets/img/icons/html.png"></div>
                            <p>HTML</p>
                        </div>
                        <div id="css" class="tool-box">
                            <div class="icon"><img src="../assets/img/icons/css.png"></div>
                            <p>CSS</p>
                        </div>
                    </div>
                </div>
                <br>
                <p>A crowdsource funding site where designers can fund their creative projects through
                    direct donations and pledges from supporters.</p>
            </div>

            <h4>MOTIVATION</h4>
            <p>This is a project that was made for my CS 3733: Software Engineering course. The aim was to make an
                application similar to kickstarter where designers can receive funding for their creative projects from
                supporters.</p>
            <p>We learned how to use React and AWS in the first 3 weeks of the course and created a fully functional
                ForFundzies in the following 3 weeks! </p>
        </div>
    </section><!-- End About Project Section -->

    <!-- ======= Features of Project ======= -->
    <section id="features">
        <div class="container">
            <h4>FEATURES</h4>
            <p>All users have the ability to login to an existing account or create a new, non-admin account.</p>
            <h6>DESIGNERS</h6>
            <ul>
                <li>Create new projects</li>
                <ul>
                    <li>Add project name, story/description, genre, monetary goal, and deadline</li>
                    <li>Create/Modify/Delete pledges</li>
                </ul>
                <li>Launch/Modify/Delete drafted projects</li>
                <li>View progress of active projects</li>
            </ul>

            <h6>SUPPORTERS</h6>
            <ul>
                <li>Search for active projects</li>
                <ul>
                    <li>By genre</li>
                    <li>By typing in search bar</li>
                </ul>
                <li>View active project pages</li>
                <li>Support active projects</li>
                <ul>
                    <li>Direct donation amount</li>
                    <li>Though claiming pledges</li>
                </ul>
                <li>View active pledges</li>
            </ul>

            <h6>ADMIN</h6>
            <ul>
                <li>View all projects (both active and inactive)</li>
                <li>Delete projects of any status</li>
            </ul>

        </div>
    </section>
    <!-- End Features of Project Section -->

    <!-- ======= Pictures of Project ======= -->

    <!-- End Pictures of Project Section -->


</body>

</html>