<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Sarah Olson - IQP Wairapa Moana</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../assets/img/favicon.png" rel="icon">
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../assets/css/iqp-waimo.css" rel="stylesheet">
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex justify-content-center align-items-center header-transparent">
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="../index.html/">Home</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </header><!-- End Header -->

    <!-- ======= About Project Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="section-title">
                <h2>Assessing the Impact of Sediment in Wairarapa Moana</h2>
                <h3>Tools Used</h3>
                <div class="tools">
                    <div class="row justify-content-center">
                        <div id="finalcut" class="tool-box">
                            <div class="icon"><img src="../assets/img/icons/finalcut.png"></div>
                            <p>Final Cut Pro X</p>
                        </div>

                    </div>
                </div>
                <br>
                <p>A 35 minute documentary to explore a surrounding community’s changing
                    connection with a polluted wetland in New Zealand to support efforts for change</p>
            </div>

            <h5>MOTIVATION</h5>
            <p>short explanation of iqp in nz and why we transfered proj to this direction</p>

            <p><a href="https://digital.wpi.edu/pdfviewer/kp78gm47t">IQP Report</a></p>
        </div>
    </section><!-- End About Project Section -->

    <!-- ======= Video tutorial of Project ======= -->
    <section class="container">
        <div class="tutorial">
            <h5>DOCUMENTARY</h5>
            <iframe width="840" height="480" src="https://www.youtube.com/embed/c9MtPkqYKXo"></iframe>
        </div>
    </section>
    <!-- End Video tutorial of Project Section -->

    <!-- ======= Pictures of Project ======= -->
    <section id="pictures">
        <div class="container">
            <div class="section-title">
                <h5>PHOTOS FROM THE PROJECT SITE</h5>
                <p>Some photos from our long days interviewing people at and exploring Wairarapa Moana</p>
            </div>
            
            <div class="project-photobook">
                <div class="row justify-content-center">
                    <div class="column">
                        <div class="project-img-540">
                            <img src="../assets/img/waimo/interview-ra.JPG">
                            <p>Forest Caption</p>
                        </div>
                        <div class="project-img-540">
                            <img src="../assets/img/waimo/ra-interview-2.JPG">
                            <p>Forest Caption</p>
                        </div>
                        <div class="project-img-400">
                            <img src="../assets/img/waimo/Waimo_team.jpeg">
                            <p>Forest Caption</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="project-img-480">
                            <img src="../assets/img/waimo/forest2.jpg">
                            <p>Forest Caption</p>
                        </div>
                        <div class="project-img-480">
                            <img src="../assets/img/waimo/interview-haami.jpg">
                            <p>Forest Caption</p>
                        </div>
                        <div class="project-img-480">
                            <img src="../assets/img/waimo/nativeforest.jpg">
                            <p>Forest Caption</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- End Pictures of Project Section -->


</body>

</html>