<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Sarah Olson - IQP Wairapa Moana</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../assets/img/favicon.png" rel="icon">
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../assets/css/iqp-waimo.css" rel="stylesheet">
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex justify-content-center align-items-center header-scrolled">
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="../index.html">Back to Portfolio</a></li>
                <li><a class="nav-link scrollto active" href="#about">About</a></li>
                <li><a class="nav-link scrollto active" href="#documentary">Documentary</a></li>
                <li><a class="nav-link scrollto active" href="#pictures">Images</a></li>


            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </header><!-- End Header -->

    <!-- ======= About Project Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="section-title">
                <h2>Assessing the Impact of Sediment in Wairarapa Moana</h2>
                <h3>Tools Used</h3>
                <div class="tools">
                    <div class="row justify-content-center">
                        <div id="finalcut" class="tool-box">
                            <div class="icon"><img src="../assets/img/icons/finalcut.png"></div>
                            <p>Final Cut Pro X</p>
                        </div>

                    </div>
                </div>
                <br>
                <p>A 35 minute documentary to explore a surrounding community’s changing
                    connection with a polluted wetland in New Zealand to support efforts for change</p>
            </div>

            <h4>ABOUT</h4>
            <p>At WPI, the Interactive Qualifying Project (IQP) “challenges students to address a problem that lies at
                the intersection of science or technology with society”. With over 50 project centers around the
                world, I had the opportunity to complete a project based out of Wellington, Aotearoa (New Zealand).</p>
            <p>The goal of our project was to understand how the health of Wairarapa Moana, a large wetland in the North
                Island, impacts the connection between its surrounding community and environment. Originally our project
                was going to focus on the intersections between Western science and mātaurange Māori. However, shortly
                after we arrived in Aotearoa, our project partners expressed that they did not see the Māori perspective
                in our proposal. As a result, we decided to shift the focus toward the significance of the connection
                between Wairarapa Moana and its surrounding community, and explore how/if the sediment was changing it.
            </p>
            <p>For a more in depth understanding of our project, check out our complete IQP Report below:</p>
            <p><a href="https://digital.wpi.edu/pdfviewer/kp78gm47t">IQP Report</a></p>

            <h5></h5>
        </div>
    </section><!-- End About Project Section -->

    <!-- ======= Video tutorial of Project ======= -->
    <section class="container" id="documentary">
        <div class="tutorial">
            <h4>DOCUMENTARY</h4>
            <iframe width="840" height="480" src="https://www.youtube.com/embed/c9MtPkqYKXo"></iframe>
        </div>
    </section>
    <!-- End Video tutorial of Project Section -->

    <!-- ======= Pictures of Project ======= -->
    <section id="pictures">
        <div class="container">
            <div class="section-title">
                <h4>PHOTOS FROM THE PROJECT SITE</h4>
                <p>Some photos from our long days interviewing people at and exploring Wairarapa Moana</p>
            </div>

            <div class="project-photobook">
                <div class="row justify-content-center">
                    <div class="column">
                        <div class="project-img-540">
                            <img src="../assets/img/waimo/interview-ra.JPG">
                            <p>An example of our interview setup featuring Ra Smith, one of our project partners.. I am
                                monitoring the camera and microphones (which was necessary on this windy and chilly day)
                            </p>
                        </div>
                        <div class="project-img-540">
                            <img src="../assets/img/waimo/ra-interview-2.JPG">
                            <p>A secondary view of the interview setup with Ra. HEre you can also more clearly see this
                                interview was conducted on-site at Lake Ōnoke, one of the 2 main lakes comprising
                                Wairarapa Moana. </p>
                        </div>
                        <div class="project-img-400">
                            <img src="../assets/img/waimo/Waimo_team.jpeg">
                            <p>Team photo with my other IQP group members!</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="project-img-480">
                            <img src="../assets/img/waimo/forest2.jpg">
                            <p>Another example of what our interviews looked like, this time exploring a site with
                                Stephen Hartley from Victoria University of Wellington, where native bush were being
                                replanted.</p>
                        </div>
                        <div class="project-img-480">
                            <img src="../assets/img/waimo/interview-haami.jpg">
                            <p>Preparing for our interview with Haami Te Whaiti, the chair of the chair of the Ngāti
                                Kahungunu ki Wairarapa Tamakinuiarua Treaty Trust, Post Settlement Governance Trust.</p>
                        </div>
                        <div class="project-img-480">
                            <img src="../assets/img/waimo/nativeforest.jpg">
                            <p>A photo from one of our early excursions at Wairarapa. In an untouched section of native
                                bush, Kereana Sims, one of our project partners, explains to our project group the
                                protection the native bush provided to this area. We also discussed how the loss of
                                these necessary forests may have hindered the Moana’s health.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- End Pictures of Project Section -->


</body>

</html>