<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Sarah Olson - yesiamagymnast</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../assets/img/favicon.png" rel="icon">
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../assets/css/yesiamagymnast.css" rel="stylesheet">
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex justify-content-center align-items-center header-scrolled">
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="../index.html">Back to Portfolio</a></li>
                <li><a class="nav-link scrollto active" href="#about">About</a></li>
                <li><a class="nav-link scrollto active" href="#highlight-reel">Highlight Reel</a></li>
                <li><a class="nav-link scrollto active" href="#undefeated">Undefeated - Documentary</a></li>
                <li><a class="nav-link scrollto active" href="#other-projects">Other Projects</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </header><!-- End Header -->

    <!-- ======= About Project Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="section-title">
                <h2>Freelance Videographer - yesiamagymnast</h2>
                <h3>Tools Used</h3>
                <div class="tools">
                    <div class="row justify-content-center">
                        <div id="finalcut" class="tool-box">
                            <div class="icon"><img src="../assets/img/icons/finalcut.png"></div>
                            <p>Final Cut Pro X</p>
                        </div>

                    </div>
                </div>
                <br>
                <p>Collection of 30+ promotional videos highlighting underrepresented female sports teams with over
                    50,000+ views</p>
            </div>

            <h4>ABOUT</h4>
            <p>I have been making and posting videos on YouTube since I was 11 years old! When I was in high school, I
                noticed that the teams that I was on (Girls’ Varsity Swim and Dive and Varsity Gymnastics) did not
                receive the same level of recognition for their success compared to other more popular teams like
                Varsity Football or Hockey. </p>
            <p>To combat this problem, I decided I would film at our meets and upload highlight reels to my YouTube
                channel to spread the word about our successes and create hype around our next competition. The links to
                my videos started getting reposted by other students, coaches, and even Framingham High School’s
                Athletics Department. I started being contacted by captains from other teams asking if their team could
                be featured in their own video. By the time COVID hit, I had made over 30 videos for teams, including
                Varsity Girls’ Swim and Dive, Varsity Gymnastics, Varsity Girls’ Volleyball, and JV Girls’ Lacrosse. I
                also collaborated with another student media group called MassTimes to create media for Varsity Football
                and Varsity Boys’ Soccer. </p>
            <p><a href="https://youtube.com/yesiamagymnast">YouTube Channel</a></p>
        </div>
    </section><!-- End About Project Section -->

    <!-- ======= Video Highlight Reel ======= -->
    <section class="container" id="highlight-reel">
        <div class="tutorial">
            <h4>HIGHLIGHT REEL</h4>
            <p>A short highlight reel of some of my best work with FHS Athletics.</p>
            <iframe width="840" height="480" src="https://www.youtube.com/embed/XibrIFtyNGM"></iframe>
        </div>
    </section>
    <!-- End Video Highlight Reel Section -->

    <!-- ======= Undefeated ======= -->
    <section id="undefeated">
        <div class="container">
            <h4>UNDEFEATED: FLYERS GYMNASTICS (DOCUMENATY)</h4>
            <p>A documentary that follows the Framingham High School Varsity Gymnastics Team through their historic
                2019-2020 season. </p>
            <iframe width="840" height="480" src="https://www.youtube.com/embed/8sqoXQP0Z_0"></iframe>

        </div>
    </section>
    <!-- End Undefeated Section -->

    <!-- ======= Other projects ======= -->
    <section id="other-projects">
        <div class="container">
            <h4>OTHER PROJECTS</h4>
            <p>Every year, McCarthy Elementary School puts on the 5th-grade talent show and the famous "Teacher Video"
                is always a star. I have had the honor of producing the Teacher Videos since 2016, and here are some of
                my favorites:</p>


            <div class="teacher-videos">
                <div class="row justify-content-center">
                    <div class="column">
                        <div class="best-1">
                            <h5>2023: Call Me Maybe X Gangnam Style</h5>
                            <iframe width="540" height="320" src="https://www.youtube.com/embed/4Wz3QD_Q694"></iframe>
                        </div>
                    </div>
                    <div class="column">
                        <div class="project-img-480">
                            <h5>2019: Old Town Road</h5>
                            <iframe width="540" height="320" src="https://www.youtube.com/embed/XJTxJL1IilE "></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- End Other Projects Section -->


</body>

</html>