<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Sarah Olson - yesiamagymnast</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../assets/img/favicon.png" rel="icon">
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../assets/css/yesiamagymnast.css" rel="stylesheet">
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex justify-content-center align-items-center header-scrolled">
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="../index.html">Back to Portfolio</a></li>
                <li><a class="nav-link scrollto active" href="#about">About</a></li>
                <li><a class="nav-link scrollto active" href="#highlight-reel">Highlight Reel</a></li>
                <li><a class="nav-link scrollto active" href="#undefeated">Undefeated - Documentary</a></li>
                <li><a class="nav-link scrollto active" href="#other-projects">Other Projects</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </header><!-- End Header -->

    <!-- ======= About Project Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="section-title">
                <h2>Freelance Videographer - yesiamagymnast</h2>
                <h3>Tools Used</h3>
                <div class="tools">
                    <div class="row justify-content-center">
                        <div id="finalcut" class="tool-box">
                            <div class="icon"><img src="../assets/img/icons/finalcut.png"></div>
                            <p>Final Cut Pro X</p>
                        </div>

                    </div>
                </div>
                <br>
                <p>Collection of 30+ promotional videos highlighting underrepresented female sports teams with over 50,000+ views</p>
            </div>

            <h4>MOTIVATION</h4>
            <p>short explanation of iqp in nz and why we transfered proj to this direction</p>

            <p><a href="https://youtube.com/yesiamagymnast">YouTube Channel</a></p>
        </div>
    </section><!-- End About Project Section -->

    <!-- ======= Video Highlight Reel ======= -->
    <section class="container" id="highlight-reel">
        <div class="tutorial">
            <h4>HIGHLIGHT REEL</h4>
            <p>Short decription of what highligh reel shows</p>
            <iframe width="840" height="480" src="https://www.youtube.com/embed/c9MtPkqYKXo"></iframe>
        </div>
    </section>
    <!-- End Video Highlight Reel Section -->

    <!-- ======= Undefeated ======= -->
    <section id="undefeated">
        <div class="container">
                <h4>UNDEFEATED: FLYERS GYMNASTICS (DOCUMENATY)</h4>
                <p>Short decription of undefeated</p>
                <iframe width="840" height="480" src="https://www.youtube.com/embed/8sqoXQP0Z_0"></iframe>
    
        </div>
    </section>
    <!-- End Undefeated Section -->

        <!-- ======= Other projects ======= -->
        <section id="other-projects">
            <div class="container">
                    <h4>OTHER PROJECTS</h4>
                    <p>Mccarthy videos list and link</p>  
            </div>
        </section>
        <!-- End Other Projects Section -->


</body>

</html>